@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: var(--font-inter);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #0b1220;
  color: #e5e7eb;
}

body {
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}